@import './variables';

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
}
body {
   background-color: $black;
   color: $white;
   font-size: $size;
   font-family: $PlayfairDisplay;
   overflow-x: hidden;
}
.App {
   padding: 1vh 1vw;
}
